.k2-pb-inspector-alignment
{
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}
.k2-pb-inspector-alignment-single{
  flex-basis: 33.33%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.k2-pb-alignment-icon{
  font-size: 15px;
  padding: 0.8em;
}

.k2-pg-popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.k2-pg-popup .k2-pg-popup-text {
  width: 230px;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px 0;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  right: 50%;
  border: 2px solid rgba(25, 149, 173, 1);
}

.k2-pb-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  padding-top: 2em;
  border: 1px solid grey;
}

.k2-pb-active{
  color: orange;
  background-color: #FED8B1;
}

