/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.progress-bar {
  position: relative;
  width: 500px;
  height: 3em;
  background-color: black;
  border-radius: 1.5em;
  color: white;
}

.IncreaseBar {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: .5em;
  top: .5em;
  bottom: .5em;
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: #069;
  border-radius: 1em;
  padding: 1em;
}


.ButtonClick{
  padding-bottom: 50px;
}
