.InspectorControlProgressBarAlignment{
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}

.InspectorControlProgressBarAlignmentEach{
  flex-basis: 33.33%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.AlignmentIconsStyle {
  font-size: 15px;
  padding: 0.8em;
}
