/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */


<<<<<<< HEAD
.progress-bar {
  position: relative;
  width: 500px;
  height: 3em;
  background-color: black;
  border-radius: 1.5em;
  color: white;
}

.IncreaseBar {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: .5em;
  top: .5em;
  bottom: .5em;
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: #069;
  border-radius: 1em;
  padding: 1em;
}

.ButtonClick{
  padding-bottom: 50px;
=======
.meter {
  border-radius: 1.5em;
  border-style:solid;
  border-width: 0.2em ;
  position: relative;
  background: transparent;
  overflow: hidden;
  margin-bottom: 2em;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #006699;
//  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

  animation-fill-mode:both;

}


@keyframes AnimateProgressBar {
  0% { width: 0; }
  100% { width: 100%; }
>>>>>>> 916ae7fb591172d31eeb3f94ef13c40450312ec9
}
