.mc-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #000;
  height:100%;
}

.mc-col {
  color:white;
  flex: 25%;
  padding: 20px;
  z-index: 2;
  height:800px;
  border-right: solid 1px gray;
  position: relative;
}

.mc-figure {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    transform: scale(1.25);
    padding:none;
}

.mc-figure .mc-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  float:left;
  min-height:800px;
}

.mc-col-button {
  background-color: transparent;
  border: solid 1px white;
  color:white;
  padding:0.5em 2em;
}

.mc-col-content {
  position: absolute;
  bottom:0;
  padding: 2em 0em;
}


@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

.fade-in { 
  animation:opac 0.8s
}

@keyframes opac { 
  from{opacity:0} 
  to{opacity:1}
}