.counter-widget {
    background-color: #ab47bc;
    width: 10%;
    max-width : 200px;
    height: 150px;
    text-align: center;
    margin:auto;
}

.counter-widget .content {
    padding:10%;
}

.counter-widget .content .cw-number {
    font-size:50px;
    font-family: "Arial Black", Gadget, sans-serif; 
    margin:10px;
    color:white;
}

.counter-widget .content .cw-title {
    font-family: Verdana,Geneva,sans-serif; 
    margin:10px;
    color:white;
}
