/**
 * #.# Styles
 *
 * CSS for BackEnd.
 */


.ImageSelectControl {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.ImageSelectControl i {
  font-size:48px;
  color: #ddd;

}
.components-color-picker__inputs-wrapper{
  display: none;
}


.InspectorControlClassicPosition{
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}

.InspectorControlClassicPositionEachElement{
  flex-basis: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.AlignmentIconsStyle {
  font-size: 15px;
  padding: 0.8em;
}
