/**
 * #.# Styles
 *
 * CSS for BackEnd.
 */


.ImageSelectControl {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.ImageSelectControl i {
  font-size:48px;
  color: #ddd;

}
.components-color-picker__inputs-wrapper{
  display: none;
}
