#k2-te-wrapper{
  width: 100% !important;
}
.k2-te-paragraph{
  margin:0 !important;
}

@media (min-width: 320px) and (max-width: 800px){
  #k2-te-parent {
	width: 100% !important;
	margin-left: 0 !important;
  }
}
@media (min-width: 800px) and (max-width: 1024px){
  #k2-te-parent{
	margin-left: 0 !important;
  }
}
@media (min-width: 600px) and (max-width: 1024px){
  #k2-te-parent{
	width: 100% !important;
  }
}


