.k2-CB-inspector-control-alignment{
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}

.k2-CB-inspector-control-alignment-single{
  flex-basis: 33.33%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
}


.k2-CB-alignment-icon-style {
  font-size: 15px;
  padding: 0.8em;
}


.k2-CB-icon-list-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 2em;
}

.k2-CB-icon-list-sub-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 2em;
  max-height: 120px;
  overflow: auto;
}

.k2-CB-icon-list-sub-wrapper span {
  font-size: 15px;
  padding: 0.8em;
}

.k2-CB-icon-list-sub-wrapper span:hover {
  color: orange;
  background-color: #FED8B1;
  cursor: pointer;
}


.k2-CB-active{
  color: orange;
  background-color: #FED8B1;
}


.k2-CB-popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.k2-CB-popup .k2-CB-popup-text {
  width: 230px;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px 0;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  right: 50%;
  border: 2px solid rgba(25, 149, 173, 1);
}

.k2-CB-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  padding-top: 2em;
  border: 1px solid grey;
}
.components-color-picker__inputs-wrapper{
  display: none;
}
