.fa{
	margin-right: 10px;
}


.Outer
{
	display: flex;
}
.gradient-button {

	//margin: 10px;
	font-family: "poppins",  Gadget, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding: 15px;
	transition: 0.5s;
	background-size: 200% auto;
	color: #00BCD4;
	//border: 2px solid black;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;
}
.gradient-button:hover {

	margin: 8px 10px 12px;
	transform: scale(1.05);
}

.gradient-button-1 {

}
.gradient-button-1:hover {

	transition-delay: 0.05s;
}



.gradient-button-1:hover {

	transition-delay: 0.05s;
}
