.InspectorControlAlertBoxAlignment{
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}

.InspectorControlAlertBoxAlignmentEach{
  flex-basis: 33.33%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
}


.IconListWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 2em;
}

.IconListSubWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 2em;
  max-height: 120px;
  overflow: auto;
}

.IconListSubWrapper span {
  font-size: 15px;
  padding: 0.8em;
}

.IconListSubWrapper span:hover {
  color: orange;
  background-color: #FED8B1;
  cursor: pointer;
}

.active{
  color: orange;
  background-color: #FED8B1;
}



