

.WidgetContainer{
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-wrap: wrap;
  width: 100%;
}
.SubParentContainer{
}

div.container {
  width: 100%;
  display: inline-flex;
  padding: 0.5em;
}

div.box {
  display: block;
}



