.tw-column {
  box-sizing: border-box;
  float:left;
  padding: 0px;
  width:24%;
  text-align:center;
  background-color:#ddd;
  margin:0.5%;
}

.tw-column.tw-round {
  border-radius: 100px;
  border-width: 3px;
  border-color: white;
}

.tw-digit {
  font-size:50px;
  font-family: "Arial Black", Gadget, sans-serif; 
  margin:10px;
}

.tw-title {
  font-family: "Arial", Gadget, sans-serif;
}

.tw-row{
  box-sizing: border-box;
  max-width:600px;
  margin: auto;
}

.tw-row::after {
  content: "";
  clear: both;
  display: table;
}

div.wp-block-cgb-timer-block.tw-holder {
  width:100%;
  display: block;
}


