/* Create three equal columns that floats next to each other */
.tw-column {
	box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 0px;
  height: 8em;
  text-align:center;
  background-color:#ddd;
  border:solid;
  border-color:white;
  border-width:0.1em;
}

.tw-digit {
  color:black;
  font-size:50px;
  font-family: "Arial Black", Gadget, sans-serif; 
  margin:10px;
}

.tw-title {
  font-family: "Arial", Gadget, sans-serif;
}

.tw-row:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
