
.Editorsidenav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  flex-grow: 1;
  height: 100%;
  width: 0%;
  margin-top: 10rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index:1;
}
