
.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 150px;
  z-index: 10;
}



.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: pink;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 100px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.InnerBlockContainer{
  height: auto;
  background-color: transparent;
  margin-left: 2em;
  margin-right: 2em;
}
