
.sidenav {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  flex-grow: 1;
  position: fixed;
  z-index:100;
}

.ButtonStyle{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
  padding-top: 0.5em;
  padding-right: 1em;
  height: 100%;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 100px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.InnerBlockContainer{
  height: auto;
  background-color: transparent;
  margin-left: 2em;
  margin-right: 2em;
}

.ParentSection{
  display: flex;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  box-sizing: content-box;
}
