.k2-modal-inspector-popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.k2-modal-inspector-popup .k2-modal-inspector-popuptext {
  width: 230px;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px 0;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  right: 50%;
  border: 2px solid rgba(25, 149, 173, 1);
}

.k2-modal-inspector-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  padding-top: 2em;
  border: 1px solid grey;
}
.components-color-picker__inputs-wrapper{
  display: none;
}
